html, body {
 margin: 0;
 padding: 0;
 font-family: 'Roboto';
}
button:focus {
  outline: none;
}
 input:focus{
    outline: none;
}
a:focus {
  text-decoration: underline;
  color: white;
   text-underline-position: under;
}
a:active {
  text-decoration: underline;
  color: white;
   text-underline-position: under;
}
header {
 width: 100%;
 height: 100vh;
}
header {
 background-image: url('../img/bg-image.png');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
 }
nav {
 
 width: 50%;
 height: 95px;
 display: flex;
 align-items: center;
 justify-content: space-between;
}
nav a {
 text-decoration: none;
 color: gray;
 margin: 40px;
 font-size: 14px;
 font-weight: 500;
 text-align: center;
}

section {
 height: 15vh;
 color: white ;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.about__job {
 font-weight: 700;
 font-size: 65px;
}
.about__development {
 width: 504px;
 height: 50px;
 font-size: 18px;
 font-weight: 400;
 text-align: center;
}
.header__button button {
 padding: 15px 47px;
 margin-top: 30px;
 font-weight: 700;
 font-size: 14px;
 background-color: #00AFDB;
 border: 1px solid #00AFDB;
 color: white;
}
.header__button button:hover {
 background-color: #009CC2;
 border: 1px solid #009CC2;
 cursor: pointer;
}
.socials ul {
  display: flex;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.socials li {
 margin: 0px 15px;

}
.socials {
  height: 10vh;
  width: 100%;
  display: flex;
   align-items: center;
  justify-content: center;
 margin-bottom: 50px;
}

.footer__icon {
  background: none;
  width: 21px;
  height: 21px;
  border: 1.5px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.socials a:hover {
 opacity: 0.5;
}
.page2 {
 width: 100%;
 height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;
}
.page2__content {
 width: 60%;
 height: 80vh;
 color: black;
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.page2__leftColumn {
 width: 45%;
 height: 36vh;
margin-bottom: 29.5px;

}
.page2__leftColumn h1 {
 font-size: 24px;
 font-weight: 700;
}
.page2__leftColumn p {
 font-size: 14px;
 font-weight: 500;
}
.page2__leftColumn button {
 padding: 15px 47px;
  margin-top: 30px;
 font-weight: 700;
 font-size: 14px;
 background-color: #00AFDB;
 border: 1px solid #00AFDB;
 color: white;
}
.page2__leftColumn button:hover {
 background-color: #009CC2;
 border: 1px solid #009CC2;
 cursor: pointer;
}
.page2__rightColumn {
 width: 45%;
 height: 100%;
}
.page2__rightColumn img {
 width: 100%;
 height: 100%;
 object-fit: cover;
}
.page3__carousel {
 height: 50vh;
 background-color: lightgray;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: row;

}
.carousel__content {
  height: 50vh;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.user__name {
  height: 50vh;
  width: 500px;
  color: #000000;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 40px;
 
}
.user__name img {
  margin-bottom: 20px;
  width: 45px;
  height: 45px;
}
.user__name h1 {
  margin: 0px;
}
.page3__slideshow {
  width: 900px;
  height: 50vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: auto;
}
div.scrollmenu {
 
 
  white-space: nowrap;
  width: 2000px;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}
div.scrollmenu img {
  height: 40vh;
  width: 500px;
}

.page4 {
 width: 100%;
 height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;
}
.page4__content {
 width: 60%;
 height: 80vh;
 color: black;
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.page4__leftColumn {
 width: 45%;
 height: 36vh;
margin-bottom: 29.5px;

}
.page4__leftColumn h1 {
 font-size: 24px;
 font-weight: 700;
}
.page4__leftColumn p {
 font-size: 14px;
 font-weight: 500;
}
.page4__leftColumn button {
 padding: 15px 47px;
  margin-top: 30px;
 font-weight: 700;
 font-size: 14px;
 background-color: #00AFDB;
 border: 1px solid #00AFDB;
 color: white;
}
.page4__leftColumn button:hover {
 background-color: #009CC2;
 border: 1px solid #009CC2;
 cursor: pointer;
}
.page4__rightColumn {
 width: 45%;
 height: 100%;
}
.page4__rightColumn img {
 width: 100%;
 height: 100%;
 object-fit: cover;
}
.page5 {
 background-image: url('../img/pexels-christina-morillo-1181675\ 1.png');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
height: 80vh;
width: 100%;
}
.email {
 display: flex;
 
}
.page5__email h1 {
 text-align: center;
}
.page5__email input {
 width: 340px;
 height: 50px;
 border:0px solid white;
font-family: 'Roboto';
 padding: 0 20px;
}

.page5__email button {
 background-color: #00AFDB;
 color: white;
width: 60px;
height: 50px;
border: 1px solid #00AFDB;
}
.page5__email button:hover {
 background-color: #009CC2;
 cursor: pointer;
}
.page6 {
 height: 60vh;
 width: 100%;
 color: black;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: lightgray;
}
.about__downloading {
 height: 30vh;
 width: 100%;
 
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 text-align: center;
 margin: 0px;
}
.about__downloading h1 {
font-size: 24px;
font-weight: 700;
width: 100%;
margin: 0px;

display: flex;
align-items: center;
}

.page6__text {
 width: 30%;
 font-size: 14px;
 font-weight: 400;
margin: 20px 0px;

}
.buttons {
 display: flex;
 width: 30%;
 justify-content: space-between;

 align-items: center;
margin-bottom: 5px;

}
.buttons button {
 width: 127px;

 background-color: #00AFDB;
 color: white;
 font-weight: 700;
 border: none;
}
.buttons button:hover {
 background-color: #009CC2;
 cursor: pointer;
}
.footer {
 height: 20vh;
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: space-between;
 background-color: #000000;
 color: white;
 flex-direction: row;
}
.footer__content1 {
 margin-left: 50px;
}
.footer a {
 text-decoration: none;
 color: white;
 margin: 0px 3px;
}
.footer a:hover {
  color: gray;
}
.footer p {
 margin-right: 50px;
 color: gray;
}
.button__img {
  background-color: #009CC2;
  width: 60px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}
.button__content {
  display: flex;
height: 46px;
}

  
